<% include ./partials/header.ejs %>

  <style>
    .content::-webkit-scrollbar,
    .cardsContainer::-webkit-scrollbar {
      display: none;
    }

    .truncate-lines-2 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      max-height: 3.6rem;
    }


    #volumeSlider {
      -webkit-appearance: none;
      appearance: none;
      width: 100px;
      height: 5px;
      background: linear-gradient(to right, #22c55e 0%, #22c55e var(--value), #3f3f46 var(--value), #3f3f46 100%);
      background-color: #22c55e;
      outline: none;
    }

    #volumeSlider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      background-color: transparent;
      cursor: pointer;
    }

    #volumeSlider::-moz-range-thumb {
      width: 10px;
      height: 10px;
      background-color: transparent;
      cursor: pointer;
    }

    #volumeSlider::-ms-thumb {
      width: 10px;
      height: 10px;
      background-color: transparent;
      cursor: pointer;
    }

    .playlist:hover .deletePlaylist {
      opacity: 1;
      transition: all;
      transition-duration: .8s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .playlist:hover {
      scale: 1.03;
      transition: all;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .songs:hover .deleteSong {
      opacity: 1;
      transition: all;
      transition-duration: .8s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .songs:hover {
      scale: 1.01;
      transition: all;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .searchedSong:hover .addSong{
      opacity: 1;
      transition: all;
      transition-duration: .8s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .searchedSong:hover{
      scale: 1.02;
      transition: all;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

   
    .addSong:hover{
      transition: all linear .2s;
      cursor: pointer;
      color: #22c55ebc;
    }

    .close:hover{
      transition: all linear .2s;
      scale: 1.3;
      cursor: pointer;
      color: #22c55ebc;
    }
  </style>

  <div id="main" class="bg-zinc-950 text-white fill-white h-[100vh] w-[100vw] flex overflow-hidden"
    style="font-family: 'c1';">
    <!-- left -->
    <div id="left" class="h-full w-[23.5vw] p-2 flex flex-col gap-3">
      <div id="leftTop"
        class="h-[15%] w-full bg-gradient-to-br from-zinc-800 to-zinc-950 rounded-md px-8 flex flex-col gap-5 justify-center">
        <div class="home flex gap-5 items-center">
          <i class="ri-home-line text-xl"></i>
          <h2>Home</h2>
        </div>
        <div class="search flex gap-5">
          <i class="ri-search-line text-xl"></i>
          <h2>Search</h2>
        </div>
      </div>

      <div id="leftBottom" class="h-fit w-full bg-gradient-to-br from-zinc-950 to-zinc-900 rounded-md px-2 py-4">
        <div id="library" class="flex justify-between items-center px-4">
          <div class="flex gap-2">
            <svg class="h-[1.4vw]" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 24 24"
              class="Svg-sc-ytk21e-0 bneLcE">
              <path
                d="M3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zM15.5 2.134A1 1 0 0 0 14 3v18a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V6.464a1 1 0 0 0-.5-.866l-6-3.464zM9 2a1 1 0 0 0-1 1v18a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1z">
              </path>
            </svg>
            <h3>Your Library</h3>
          </div>
          <div class="flex gap-2">
            <a href="/createPlaylist"><i class="ri-add-line text-xl"></i></a>
            <i class="ri-arrow-right-line text-xl"></i>
          </div>
        </div>
        <div class="bg-gradient-to-bl from-zinc-700 to-zinc-800 px-2 py-1 rounded-md mt-6">
          <% if(loggedInUser.playlists.length===0 ){ %>
            <div class="py-4">
              <h3>Create your first playlist</h3>
              <h4 class="text-sm mb-4">It's easy, we'll help you</h4>
              <a href="/createPlaylist" id="createPlaylist"
                class="bg-gradient-to-bl from-zinc-100 to-white text-zinc-900 px-4 py-2 rounded-full text-sm">Create
                playlist</a>
            </div>
            <% }else{ %>
              <% loggedInUser.playlists.reverse().forEach(playlist=>{ %>
                <div data-playlist-id="<%=playlist._id%>"
                  class="playlist bg-gradient-to-bl from-zinc-900 to-zinc-950 p-2 rounded-md flex items-center justify-between my-1">
                  <div class="flex items-center gap-2">
                    <div class="playlistImg h-8 w-8">
                      <img class="h-full w-full object-cover" src="/images/<%=playlist.image%>" alt="">
                    </div>
                    <div>
                      <div class="playlistName text-sm text-zinc-400">
                        <%=playlist.name%>
                      </div>
                      <div class="username text-xs capitalize text-zinc-400">Playlist - <%=loggedInUser.name.split(' ')[0] %></div>
                  </div>
                </div>
                <div>
                  <a class="deletePlaylist opacity-0" href="/deletePlaylist/<%=playlist._id%>"><i class="ri-delete-bin-line text-zinc-400"></i></a>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>
      </div>

    </div>
    <!-- right -->
    <div id="right" class="h-full w-[calc(100%-22.5vw)]  p-2">

      <div id="innerRight"
        class="h-full w-full bg-gradient-to-bl from-zinc-950 to-zinc-800 rounded-md overflow-hidden">
        <nav class="py-4 px-5 flex items-center justify-between">
          <div id="navLeft" class="flex gap-2">
            <div class="bg-zinc-900 w-8 h-8 flex justify-center items-center rounded-full"><i
              class="ri-arrow-left-s-line text-2xl"></i></div>
              <div class="bg-zinc-900 w-8 h-8 flex justify-center items-center rounded-full"><i
                class="ri-arrow-right-s-line text-2xl"></i></div>
              </div>
              <div id="navRight" class="flex items-center">
                <a href="/uploadSong" style="background-color: rgb(180, 155, 200);"
                class="rounded-full text-zinc-800 h-[30px] w-[30px] text-center flex items-center justify-center border-4 border-black">
                +</a>
                <div style="background-color: rgb(180, 155, 200);"
                class="rounded-full text-zinc-800 h-[30px] w-[30px] text-center uppercase flex items-center justify-center border-4 border-black">
                <%=loggedInUser.name[0]%></div>
              </div>
        </nav>
        <div class="showHome px-5">
            <div id="navP2" class="flex gap-1">
          <div class="bg-zinc-700 w-fit px-4 py-[6px] rounded-full font-[100] text-xs">All</div>
          <div class="bg-zinc-700 w-fit px-4 py-[6px] rounded-full font-[100] text-xs">Music</div>
          <div class="bg-zinc-700 w-fit px-4 py-[6px] rounded-full font-[100] text-xs">Podcasts</div>
        </div>
        <div class="content h-full overflow-y-auto mt-3 pb-[30vh]">
          <div class="container my-4">
            <div class="text-2xl">Music</div>
            <div class="cardsContainer flex mt-3 gap-4 overflow-x-auto">
              <!-- sample card start -->
              <% songs.forEach(song=>{ %>
                <div data-file-name="<%=song.audio%>" onclick="play(document.querySelector(' #playPauseBtn'))"
                          class="card w-[10vw] flex-shrink-0">
                          <div class="h-[10vw] w-[10vw] rounded-lg overflow-hidden"><img src="/uploads/<%=song.image%>"
                              alt="" class="songImg h-full w-full object-cover"></div>
                          <div class="songName my-1 text-sm truncate-lines-2">
                            <%=song.songName%>
                          </div>
                          <div class="artistName text-zinc-400 text-xs truncate-lines-2">
                            <%=song.artistName%>
                          </div>
                      </div>
                      <% }) %>
                        <!-- sample card end -->
                    </div>
                  </div>



                </div>
        </div>

        <div hidden class="showPlayListDets py-5 ">
          <div class="showPlayListDetsTop flex items-center gap-2">
            <div class="showPlayListDetsTopLeft h-40 w-40">
              <img src="">
            </div>
            <div class="showPlayListDetsTopLeft flex flex-col gap-3">
              <div class="showPlayListDetsTopLeftT text-sm text-zinc-300 capitalize">playlist</div>
              <div class="showPlayListDetsTopLeftC text-5xl">playlist name</div>
              <div class="showPlayListDetsTopLeftB text-sm text-zinc-300 capitalize"></div>
            </div>
          </div>
          <div class="showPlayListDetsBottom px-5 py-2 bg-gradient-to-bl from-zinc-700 to-zinc-950 w-full min-h-[56vh]">
            <div class="playListNav">
              <i class="ri-add-line text-3xl"></i>
            </div>
            <div class="playlistContent">

            </div>
          </div>
        </div>

        <div class="searchSongForPlaylist py-1 px-2 absolute top-[50vh] left-[50vw] translate-x-[-50%] translate-y-[-50%] backdrop-blur-sm rounded-e-md bg-gradient-to-bl from-zinc-600/[.8] to-zinc-950/[.8] h-[70vh] w-[40vw]">
          <div class="flex items-center justify-center gap-1">
            <input type="text" oninput="searchSong(this)" class="w-[90%] bg-gradient-to-tl from-zinc-800 to-zinc-950 py-1 px-3 rounded-md border-[1px] border-zinc-500">
            <i class="close ri-close-line text-4xl"></i>
          </div>
          <div class="showSearchSong">
            
          </div>
        </div>



      </div>

    </div>
    <!-- user player -->
    <div class="player fixed bottom-0 bg-black p-4 px-6 w-full flex items-center justify-between">
      <div class="playerLeft flex gap-2 items-center">
        <div class="h-[65px] w-[65px] overflow-hidden rounded-md"><img id="currentSongImg"
            class="h-full w-full object-cover"
            src="https://imgs.search.brave.com/xIPbwmKegWfWMei75v_sJ_yd0SfO0pbL7tQDjRmQOv8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL211c2ljLXBu/Zy1maWxlLTUxMi5w/bmc"
            alt=""></div>
        <div>
          <div id="currentSongName" class="songName text-sm">No song</div>
          <div id="currentArtistName" class="artistName text-xs text-zinc-500">No artist</div>
        </div>
      </div>

      <div
        class="playerCenter flex flex-col justify-center items-center gap-2 absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]">
        <div class="controller flex gap-2 text-2xl">
          <i id="skipLeft" class="ri-skip-left-fill"></i>
          <div class=" bg-white text-black h-[30px] w-[30px] text-center rounded-full flex items-center justify-center">
            <i id="playPauseBtn" class="ri-play-fill ml-1"></i>
          </div>
          <i id="skipRight" class="ri-skip-right-fill"></i>
        </div>
        <div class="controller2 flex items-center justify-center gap-4">
          <span class="currentSongTime w-7 text-xs text-zinc-400">0:00</span>

          <div class="progressBarOutLine w-[300px] h-1 bg-zinc-700 relative">
            <div class="currentPositionLine w-[300px] h-full overflow-hidden">
              <div class="currentPositionLineInside w-[300px] h-full bg-zinc-400 relative left-[-100%]"></div>
            </div>
            <div id="draggableElement"
              class="currentPositionDot w-[12px] cursor-pointer h-[12px] bg-green-500 rounded-full absolute left-[0%] top-[50%] translate-y-[-50%] translate-x-[-50%]">
            </div>
          </div>

          <span class="totalSongTime w-7 text-xs text-zinc-400">0:00</span>
        </div>
      </div>


      <div class="playerRight">

        <div class="rounded-lg shadow-md flex items-center gap-2">
          <input id="volumeSlider" type="range" min="0" value="100" max="100"
            class="w-full h-1 bg-zinc-700 appearance-none overflow-hidden">
          <span id="volumePercentage" class="text-zinc-400">100%</span>
        </div>


      </div>

    </div>
    <!-- real player -->
    <div hidden class="audio-player">
      <audio id="audioPlayer" controls>
        Your browser does not support the audio element.
      </audio>
    </div>




  </div>


  <script src="/javascripts/player.js"></script>
  <% include ./partials/footer.ejs %>